.container {
    display: grid;
    grid-template-columns: minmax(160px, 200px) minmax(950px, 3fr);
    grid-template-rows: minmax(50px, 150px) 3fr;


}

/*HEADER*/
.header {
    grid-column: 2/-1;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -25px;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;

}

.upper-header {
    display: grid;
    grid-template-columns: minmax(60px, 100px) minmax(500px, 700px) repeat(2, minmax(60px, 100px)) minmax(150px, 250px);
    grid-template-rows: 30px;
    gap: 10px;
    align-items: center;
}

.search-bar {
    background-color: #e7e7e7;
    width: minmax(500px, 700px);
    height: 100%;
    border-radius: 25px;
}

.header-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-self: end;
}

.bottom-header {
    display: grid;
    grid-template-columns: minmax(60px, 80px) minmax(500px, 700px) repeat(3, 1fr);
    grid-template-rows: 30px 30px;
    align-items: center;
    gap: 0px 15px;

}

.button-header {
    border-radius: 15px;
    border: none;
    background-color: #6374ae;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 75px;
    grid-row: 1/-1;
}

.welcome-message {
    grid-column: 2/3;
    grid-row: 1/2;
}

.user-name {
    grid-column: 2/3;
    grid-row: 2/3;
}

.user-icon {
    width: 50px;
    height: 50px;
    grid-row: 1/-1;
}

/*SIDEBAR*/
.sidebar {
    grid-row: 1/-1;
    grid-column: 1/2;
    background-color: #6374ae;
    display: grid;
    grid-template-rows: minmax(50px, 100px) repeat(2, minmax(300px, 400px));
    justify-items: start;
    padding: 5px;
}

.sidebar ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.icon {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.icon-text-dashboard {
    display: grid;
    grid-template-columns: 50px 70px;
    align-items: center;
    color: white;
    font-weight: bold;
}

.top-options ul,
.bottom-options ul {
    display: grid;
    gap: 10px;
}

/*MAIN CONTENT*/

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 25px;
    background-color: #f2f7fb;
    z-index: -1;


}

.left-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 500px));
    grid-template-rows: 40px repeat(3, minmax(100px, 200px));
    gap: 15px;
    justify-content: center;

}

.left-container-title {
    grid-column: 1/-1;
}

.card {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px 10px 0px 25px;
    border-left: orange 7px solid;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -35px;
}

.right-container {
    display: grid;
    grid-template-rows: repeat(2, minmax(250px, 350px));
    gap: 15px;
    justify-content: center;

}

/*40px minmax(200px, 250px) 40px minmax(200px, 250px)*/